@import '../../_variables';
@import '../../_mixins';

ul.share-buttons {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: $phone-share-height;
   transform: translateY(100%);
   transition: transform .3s ease-in-out;
   &.visible { transform: translateY(0); }

   @include respond-to(medium, large) {
      $w: 50px;
      display: none;
      top: 50%;
      width: $w;
      margin: 0 auto;
      flex-direction: column;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: auto;
      height: auto;
      overflow: hidden;

      li {
         transform: translateX(-100%);
         transition: transform .3s ease-in-out;
         &:first-child { border-top-right-radius: 4px }
         &:last-child { border-bottom-right-radius: 4px }
      }

      &.visible {
         transform: translateY(-50%) translateX($post-width/2 + $w/2);
         display: block;
         li { transform: translateX(0) }
      }
   }

   li {
      color: $txt-light;
      flex: 1;
      text-align: center;
      font-size: 23px;

      background: black;
      //&.google { background: #DC4A38 }
      //&.facebook { background: #3B5998 }
      //&.twitter { background: #1DA1F2 }
      //&.linkedin { background: #0077B5 }
      //&.url { background: #9c9c9c }

      a { color: inherit; transition: none }
      i:before { line-height: $phone-share-height }

      @include respond-to(medium, large) {
         cursor: pointer;
         margin: 0;
         padding: 0;
         font-size: 15px;
         transition: font-size .2s ease;
         
         &:hover {
            color: $txt-dark;
            background: white;
            font-size: 23px;
         }
      }
   }
}