<ul class="share-buttons" [class.visible]="isVisible">
  <li class="linkedin">
    <a (click)="share('linkedin')" title="Share on Linkedin"><i class="lazy-font lazicon-linkedin"></i></a>
  </li>
  <li class="google">
    <a (click)="share('google')" title="Share on Google+"><i class="lazy-font lazicon-google-plus"></i></a>
  </li>
  <li class="facebook">
    <a (click)="share('facebook')" title="Share on Facebook"><i class="lazy-font lazicon-facebook"></i></a>
  </li>
  <li class="twitter">
    <a (click)="share('twitter')" title="Share on Twitter"><i class="lazy-font lazicon-twitter"></i></a>
  </li>
  <li class="url">
    <a (click)="share('link')" title="Copy URL"><i class="lazy-font lazicon-link"></i></a>
  </li>
</ul>