@import '../../../_variables';
@import '../../../_mixins';

$timing: .2s;
$h: 325px;
$hoverWidth: 15px;

$fixed-categories-width: 50px;

article {
   overflow: hidden;
   box-shadow: $bs-light;
   border-radius: 2px;
   font-family: 'Open Sans', sans-serif;
   transition: transform $timing, box-shadow $timing;
   //margin: 7px;
   display: inline-block;
   position: relative;
   background: white;
   width: 100%;

   .categories {
      list-style-type: none;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0; top: 0; bottom: 0;
      z-index: 1;

      width: auto;

      li {
         flex: 1;
         color: $txt-light;
         font-family: 'Montserrat', sans-serif;
         box-sizing: content-box;
         position: relative;
         display: flex;
         align-items: center;

         width: $fixed-categories-width;
         @include respond-to(medium, large) {
            border-left: 3px solid grey;
            transition: max-width .3s, padding .3s;

            width: auto;
            max-width: 0;
            padding: 0;
            cursor: pointer;
            &:hover {
               max-width: 100%;
               padding: 0 20px 0 10px;
            }
         }

         .icon {
            display: block;
            margin: auto;
            width: 27px;
            @include respond-to(medium, large) {
               display: none;
               margin: 0;
               width: auto;
            }
         }

         .text {
            display: none;
            @include respond-to(medium, large) {
               display: block;
               overflow: hidden;
            }
         }

         &:after {
            content: '';
            width: $hoverWidth;
            position: absolute;
            left: 0; top: 0; bottom: 0;
         }

         &.angular { border-left-color: $angular; background: $angular }
         &.typescript { border-left-color: $typescript; background: $typescript }
         &.react { border-left-color: $react; background: $react }
         &.susy { border-left-color: $susy; background: $susy }
         &.node { border-left-color: $node; background: $node }

         /*&:hover {
            max-width: 100%;
            padding: 0 20px 0 10px;
            cursor: pointer;
         }*/
      }
   }

   a { text-decoration: none; }

   .details {
      height: $h;
      display: flex;
      flex-direction: column;

      padding: 16px 16px 16px $fixed-categories-width+10px;
      @include respond-to(medium, large) { padding: 16px }

      img {
         flex-grow: 1;
         width: 100%;
         height: auto;
         object-fit: cover;
         display: block;
         transition: transform $timing;
      }

      .date {
         line-height: 15px;
         font-size: .8em;
         color: $txt-grey;
         margin-top: 14px;
         display: block;
         font-family: 'Montserrat', sans-serif;
      }

      h3 {
         color: $txt-dark;
         margin: 7px 0;
         font-weight: bold;
      }
   }

   &:hover {
      transform: translateY(-7px);
      box-shadow: $bs-medium;

      .details {
         h3 {
            color: $txt-dark-hover;
         }
      }
   }

   &:active {
      transform: scale(.97);
   }
}