@import '../../../_variables';

$itemsPerLine: 3;
$offset: 15px;

.posts {
   post-card article {
      width: ($container / $itemsPerLine) - $offset;
      margin-right: $offset;
      margin-bottom: $offset;
   }
   post-card:nth-child(#{$itemsPerLine}n) article {
      width: ($container / $itemsPerLine);
      margin-right: 0;
   }
}

.load-trigger{
   background: none;
   width: 1px;
   height: 1px;
}
