@import '../../../_variables';
@import '../../../_mixins';

$small-offset-top: 16px;

$items-per-line: 3;
$offset: 15px;
$x-small-items-per-line: 1;
$small-items-per-line: 2;

post-card { display: inline-block }

.posts {
   display: flex;
   flex-flow: row wrap;

   padding-top: $bar-height + $small-offset-top;
   @include respond-to(small) { padding-top: $bar-height + $small-offset-top }
   @include respond-to(medium, large) { padding-top: 10px }

   post-card {
      flex-basis: 100% / $x-small-items-per-line;
      margin: 0 $offset $offset $offset;

      @include respond-to(small) {
         flex-basis: ($small-container - (($small-items-per-line - 1) * $offset)) / $small-items-per-line;
         margin: 0 $offset $offset 0;
         &:nth-child(#{$small-items-per-line}n) {
            margin-right: 0;
         }
      }

      @include respond-to(medium, large) {
         flex-basis: ($container - (($items-per-line - 1) * $offset)) / $items-per-line;
         margin: 0 $offset $offset 0;
         &:nth-child(#{$small-items-per-line}n) {
            margin: 0 $offset $offset 0;
         }
         &:nth-child(#{$items-per-line}n) {
            margin-right: 0;
         }
      }
   }
}

.load-trigger{
   background: none;
   width: 1px;
   height: 1px;
}
