@import '../../_variables';
@import '../../_mixins';

#disqus_thread {
   color:red;
   background: white;
   box-shadow: $bs-medium;
   padding: 0 20px;
   @include respond-to(small, medium, large) {
      border-radius: 5px;
   }
}