$title-font: 'Montserrat', sans-serif;
$subtitle-font: 'Noto Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;;
$code-font: 'Consolas', sans-serif;;

$angular: #DD0330;
$typescript: #0074C1;
$react: #61DAFB;
$susy: #FF007F;
$node: #7fbd42;

$link: #6399ef;
$link-hover: #2d6def;

$bs-light: -1px 0 2px 0 rgba(0,0,0,0.12) , 1px 0 2px 0 rgba(0,0,0,0.12) , 0 1px 1px 0 rgba(0,0,0,0.24);
$bs-medium: -2px 0 2px 0 rgba(0,0,0,0.16) , 2px 0 2px 0 rgba(0,0,0,0.16) , 0 2px 2px 0 rgba(0,0,0,0.23);

$lc-logo-height: 44px;
$offsetTop: 90px;
$container: 950px;

$txt-dark: black;
$txt-dark-hover: rgba(0, 0, 0, .7);;
$txt-grey: rgba(0,0,0,0.6);
$txt-grey-hover: #bbb;
$text-light: white;

/* Custom, iPhone Retina */
$bk-iphone-retina: 320px;
/* Extra Small Devices, Phones */
$bk-x-small: 480px;
/* Small Devices, Tablets */
$bk-small: 768px;
/* Medium Devices, Desktops */
$bk-medium: 992px;
/* Large Devices, Wide Screens */
$bk-large: 1200px;
