<div class="main-background-cover"></div>
<img [@bgImage]="bgImageAnimationState" [src]="imageData" alt="background" class="main-background" />

<header>
  <lazy-navigation></lazy-navigation>
</header>

<section [style.width]="contentWidth">
  <main class="container" [class.aside]="isNavigationOpen$ | async">
    <router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
  </main>
</section>
<lazy-overlay></lazy-overlay>

<my-store-devtools *ngIf="showMonitor"></my-store-devtools>
