<div class="main-background-cover"></div>
<img [@bgImage]="bgImageAnimationState" [src]="imageData" alt="background" class="main-background" />
<!--<img [@bgImage]="bgImageAnimationState" src="https://unsplash.it/g/1920/1080/?random=true&blur=true" alt="background" class="main-background" />-->

<header>
  <nav>
    <ul>
      <li><a [routerLink]=" ['./'] " class="lc-logo">
        <img src="assets/img/logo.svg" alt="lazycoding">
      </a></li>
      <li><a [routerLink]=" ['./'] ">
        <lazy-dot [img]="'assets/img/icons/mail.svg'"
                [alt]="'contact'"
                [wrapperClasses]="'dot-header'"
                [selected]="false">
          <lazy-dot-content [position]="'bottom'">Contact</lazy-dot-content>
        </lazy-dot>
      </a></li>
      <li><a [routerLink]=" ['./'] ">
        <lazy-dot [img]="'assets/img/icons/donation.svg'"
                [alt]="'soutient'"
                [wrapperClasses]="'dot-header donation'"
                [selected]="false">
          <lazy-dot-content [position]="'bottom'">Soutenez-moi</lazy-dot-content>
        </lazy-dot>
      </a></li>
      <li>
        <i class="lc-font lc-font-search"></i>
      </li>
    </ul>
  </nav>
</header>

<section [style.width]="contentWidth">
  <main class="container">
    <router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
  </main>
</section>
<lazy-overlay></lazy-overlay>

<my-store-devtools *ngIf="showMonitor"></my-store-devtools>
