@font-face {
   font-family: 'lazy-font';
   src: url('../assets/fonts/lazy-font.eot');
   src: url('../assets/fonts/lazy-font.eot?#iefix') format('embedded-opentype'),
   url('../assets/fonts/lazy-font.woff') format('woff'),
   url('../assets/fonts/lazy-font.ttf') format('truetype'),
   url('../assets/fonts/lazy-font.svg#lazy-font') format('svg');
   font-weight: normal;
   font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   @font-face {
      font-family: 'lazy-font';
      src: url('../assets/fonts/lazy-font.svg#lazy-font') format('svg');
   }
}

.lazy-font:before{
   display: inline-block;
   font-family: 'lazy-font';
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   line-height: 1;
   text-decoration: inherit;
   text-rendering: optimizeLegibility;
   text-transform: none;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   font-smoothing: antialiased;
}

.lazicon-google-plus:before{content:'\0041';}
.lazicon-facebook:before{content:'\0042';}
.lazicon-twitter:before{content:'\0043';}
.lazicon-link:before{content:'\0044';}
.lazicon-search:before{content:'\0045';}
.lazicon-linkedin:before{content:'\0046';}
