/* styles.css will be extracted to main dist folder and is imported in index.html */
/* This file is for importing 3rd party styles  */
@import '_variables';
@import '_mixins';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; 
}

pre {
  font-family: $code-font;
  font-size: 14px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/**
  * Basic styles from Material Design Lite for HTML elements
  */
  h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: $title-font;
  //font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  opacity: 0.54;
  font-size: 0.6em; }

h1 {
  font-family: $title-font;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px; }

h2 {
  font-family: $subtitle-font;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 24px;

  font-size: 33px;
  line-height: 40px;
  @include respond-to(small, medium, large) {
    font-size: 42px;
    line-height: 48px;
  }
}

h3 {
  font-family: $subtitle-font;
  font-size: 26px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 24px;
  margin-bottom: 24px; }

h4 {
  font-family: $subtitle-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 24px;
  margin-bottom: 16px; }

h5 {
  font-family: $subtitle-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px; }

h6 {
  font-family: $subtitle-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 24px;
  margin-bottom: 16px; }

p {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0;
  margin-bottom: 26px;

  font-size: 16px;
  @include respond-to(small, medium, large) {
    font-size: 18px;
  }
}

a {
  font-weight: 500; }

blockquote {
  font-family: $body-font;
  position: relative;
  font-weight: 300;
  font-style: italic;
  line-height: 1.8;
  letter-spacing: 0.08em;
  margin-bottom: 26px;

  font-size: 16px;
  @include respond-to(small, medium, large) {
    font-size: 18px;
  }
}
  /*blockquote:before {
    position: absolute;
    left: -0.5em;
    content: '“'; }
  blockquote:after {
    content: '”';
    margin-left: -0.05em; }*/

mark {
  background-color: #f4ff81; }

dt {
  font-weight: 700; }

address {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  font-style: normal; }

ul, ol {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0;
  margin-bottom: 26px;

  font-size: 16px;
  @include respond-to(small, medium, large) {
    font-size: 18px;
  }
}