@import '../../_variables';
@import '../../_mixins';

.wrapper {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, .85);

   .card {
      display: inline-block;
      position: absolute;
      background: white;
      border-radius: 5px;
      box-shadow: $bs-medium;
      padding: 20px 25px 10px 25px;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      text-align: center;
      max-width: 98%;
      max-height: 99%;

      width: 83%;
      @include respond-to(small, medium, large) { width: auto; }

      img {
         display: block;
         max-width: 100%;
         max-height: 100%;
   }

      .closeButton {
         text-align: center;
         text-decoration: underline;
         color: $link;
         font-size: .8rem;
         margin-bottom: 10px;
      }
   }
}