@import '../../../_variables';

$content-width: 600px;
$delta: ($container - $content-width) / 2;

.anim-wrapper {
   overflow: hidden;
   border-radius: 5px 5px 0 0;
   position: fixed;
   height: 100%;
   width: $container;

   &.hidden { display: none }

   .circle {
      background: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
   }
}

.post {
   background: white;
   opacity: 0;
   border-radius: 5px;
   width: $container;
   box-shadow: $bs-medium;
   overflow: hidden;
   margin-bottom: 20px;
   padding-bottom: 15px;

   .header {
      position: relative;

      .cover {
         width: 100%;
         height: auto;
         display: block;
      }

      h1 { 
         margin: 0;
         position: absolute;
         bottom: 0;
         width: 100%;
         font-size: 4.8rem;
         text-shadow: 3px 3px 0 rgba(0, 0, 0, .8);;
         color: white;
         text-align: center;
      }
   }

   .categories {
      display: flex;
      flex-direction: row;
      height: 5px;
      list-style-type: none;
      margin: 0;

      .category {
         width: 100%;

         &.angular { background: $angular }
         &.typescript { background: $typescript }
         &.react { background: $react }
         &.susy { background: $susy }
         &.node { background: $node }
      }
   }

   .data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
      color: $txt-grey;

      ul.tags {
         display: flex;
         flex-direction: row;
         list-style-type: none;

         li {
            margin-right: 5px;
            transition: color .3s ease-in-out;
            cursor: pointer;

            &:hover { color: $txt-grey-hover }
         }
      }

      .date {
         text-align: right;
         font-weight: normal;
      }
   }

   .content {
      width: $content-width;
      margin: auto;
   }

   &.visible { opacity: 1 }
}

:host >>> .post .content .body {
   // Images
   p img {
      margin: auto;
      display: block;
      max-width: 100%;
      cursor: pointer;
   }
   // Code
   pre {
      width: $container + 2px;
      transform: translateX(-$delta - 1px);
      padding: 5px $delta;
      border-radius: 0;
      margin-bottom: 25px;

      code {
         &.html {

         }
         &.css {

         }
         &.javascript {

         }
      }
   }
   // Lists
   ul, ol {
      padding-left: 20px;
   }
}

lazy-disqus {
   margin-bottom: 20px;
   display: block;
}