@import '../../../_variables';

$content-width: 600px;
$delta: ($container - $content-width) / 2;

.anim-wrapper {
   overflow: hidden;
   border-radius: 5px 5px 0 0;
   position: fixed;
   height: 100%;
   width: $container;

   &.hidden { display: none }

   .circle {
      background: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
   }
}

.post {
   background: white;
   opacity: 0;
   border-radius: 5px;
   width: $container;
   box-shadow: $bs-medium;
   overflow: hidden;

   .cover {
      width: 100%;
      height: auto;
      display: block;
   }

   .categories {
      display: flex;
      flex-direction: row;
      height: 5px;
      list-style-type: none;

      .category {
         width: 100%;

         &.angular { background: $angular }
         &.typescript { background: $typescript }
         &.react { background: $react }
         &.susy { background: $susy }
         &.node { background: $node }
      }
   }

   .content {
      width: $content-width;
      margin: auto;
   }

   &.visible { opacity: 1 }
}

:host >>> .post .content .body {
   // Images
   p img {
      margin: auto;
      display: block;
      max-width: 100%;
   }
   // Code
   pre {
      width: $container + 1px;
      background: black;
      color: white;
      transform: translateX(-$delta);
      padding: 5px $delta;

      code {
         &.html {

         }
         &.css {

         }
         &.javascript {

         }
      }
   }
   // Lists
   ul, ol {
      padding-left: 20px;
   }
}