<div class="anim-wrapper" [class.hidden]="circleAnimationEnd">
  <div [@circle]="'in'" (@circle.done)="onCircleEnd()" class="circle"></div>
</div>
<div class="post" [class.visible]="circleAnimationEnd">
  <div class="header">
    <img [src]="post?.custom_cover" alt="cover" class="cover" [@cover]="'in'">
    <h1>{{ post?.title.rendered }}</h1>
  </div>
  <ul class="categories">
    <li *ngFor="let category of categories" class="category {{category.slug}}" [@category]="'in'"></li>
  </ul>
  <div class="data">
    <ul class="tags">
      <li *ngFor="let tag of tags">{{ tag.name }}</li>
    </ul>
    <div class="date">{{ postDate }}</div>
  </div>
  <div class="content" [@content]="'in'">
    <div class="body" [innerHTML]="html"></div>
  </div>
</div>
<lazy-disqus [identifier]="post?.id" [url]="undefined"></lazy-disqus>
