<div #navWrapper class="navigation-wrapper" [class.visible]="showNav$ | async">
  <nav class="header-nav" [class.mobile-hidden]="hideHeaderNav">
    <ul>
      <li class="burger">
        <div class="trigger" (click)="toggle()">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </li>
      <li class="menu"><a [routerLink]=" ['./'] " class="lc-logo">
        <img src="assets/img/logo.svg" alt="lazycoding">
      </a></li>
      <li class="search">
        <lc-search (onSearch)="onSearch($event)"></lc-search>
      </li>
    </ul>
  </nav>

  <nav class="main-nav">
    <ul>
      <li><a [routerLink]=" ['./'] ">
        <lazy-dot [img]="'assets/img/icons/mail.svg'"
                  [alt]="'contact'"
                  [wrapperClasses]="'dot-header'"
                  [selected]="false">
          <lazy-dot-content [position]="'bottom'">Contact</lazy-dot-content>
        </lazy-dot>
      </a></li>
      <li><a [routerLink]=" ['./'] ">
        <lazy-dot [img]="'assets/img/icons/donation.svg'"
                  [alt]="'soutient'"
                  [wrapperClasses]="'dot-header donation'"
                  [selected]="false">
          <lazy-dot-content [position]="'bottom'">Soutenez-moi</lazy-dot-content>
        </lazy-dot>
      </a></li>
    </ul>
  </nav>
</div>
