@import '../../_variables';
@import '../../_mixins';

.trigger {
   @include respond-to(medium, large) { display: none }
}

nav {
   position: fixed;
   z-index: 5;
   display: none;

   @include respond-to(medium, large) { display: block }
   
   &.visible {
      display: block; }
   
   ul.main {
      display: flex;
      list-style-type: none;
      padding: 0;

      margin: 20px 0;
      flex-direction: column;
      align-items: center;
      @include respond-to(medium, large) {
         margin: 0;
         flex-direction: row;
         align-items: flex-start;
      }

      li {
         display: flex;
         align-items: center;
      }
   }

   .lc-logo {
      img {
         height: $lc-logo-height;
      }
   }

   .dot-header {
      background: black;

      &.donation {
         background: gold;
      }
   }
}