@import '../../../_variables';
@import '../../../_mixins';

ul.categories {
   padding: 0;
   margin: 0;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   list-style-type: none;

   font-family: 'Montserrat', sans-serif;
   color: rgba(255, 255, 255, 1);

   @include respond-to(medium, large) {
      position: fixed;
      left: 15px;
      top: $lc-logo-height + 10px;
   }
}